ADS_APP_ENVIRONMENT=development
ADS_SERVER_ADDRESS=127.0.0.1:8080

ADS_DATABASE_HOST=127.0.0.1
ADS_DATABASE_PORT=5432
ADS_DATABASE_NAME=multi_platform_ads
ADS_DATABASE_USER=postgres
ADS_DATABASE_PASSWORD=
ADS_DATABASE_SSL_MODE=disable

ADS_LOG_LEVEL=debug
ADS_LOG_ENCODING=console
